{
  "menu": [
    "showing",
    "system",
    "security",
    "scenes",
    "music",
    "playing"
  ],
  "sources": {
    "cd": {
      "after": "music",
      "handles": ["play", "pause", "next", "prev", "stop", "go", "left", "right", "digits", "info"]
    },
    "demo": {
      "after": "music",
      "handles": ["play", "go", "left", "right", "stop", "pause"]
    },
    "usb": {
      "after": "music",
      "handles": ["play", "pause", "next", "prev", "stop", "go", "left", "right"]
    }
  }
}
